<!DOCTYPE html>
<head>
<link type="text/css" href="./css/style.css">

</head>
<body>
    <h1>Weather</h1>
   <form>
       <input placeholder="location">
       <button>Search</button>
   </form>
   <script type="text/plain" src="/js/app.js"></script>
</body>
</html>